:root {
  // 大部分浏览器默认字体大小为16px，所以1rem = 16px
  // font-size: 6.25%;
  // 16px * 0.0625 = 1px 1rem === 1px

  // 为了方便计算，我们将根元素的字体大小设置为62.5%，即10px
  // 2.4rem === 24px
  font-size: 62.5%;
}

body {
  font-size: 16rem;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  // box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.2), 0 2px 2px 0 rgb(0 0 0 / 0.14),
  //   0 3px 1px -2px rgb(0 0 0 / 0.12);
}

#app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
